<div class="immediate-env">
  <div>
    <div class="feature-heading">
      Preceding
    </div>
    <feature-display [features]="previousEnvironment"></feature-display>
  </div>
  <table class="y-chart">
    <tr>
      <th colspan="2">{{segment.readable}}</th>
    </tr>
    <tr *ngFor="let environment of environments">
      <td class="prev">
        {{environment.prev}}
      </td>
      <td class="next">
        {{environment.next}}
      </td>
    </tr>
  </table>
  <div>
    <div class="feature-heading">
      Following
    </div>
    <feature-display [features]="nextEnvironment"></feature-display>
  </div>
</div>
<div>
  <table class="word-environment">
    <tr class="header-row">
      <th>Occurs</th>
      <th>Initially</th>
      <th>Medially</th>
      <th>Finally</th>
    </tr>
    <tr>
      <th>Word</th>
      <td><span [class]="getYN('wordInitial')"></span></td>
      <td><span [class]="getYN('wordMedial')"></span></td>
      <td><span [class]="getYN('wordFinal')"></span></td>
    </tr>
  </table>
</div>