%border-layout {
    display: flex;
    flex-direction: column;
    .north, .south {
        width: 100%;
    }
    .center-section {
        flex: 1;
        display: flex;
        .west, .east {
            height: 100%;
        }
    }
    .center {
        flex: 1;
        overflow: scroll;
    }
}