:host {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0;
}

.tab {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: white;
    color: black;
    &:hover {
        cursor: pointer;
    }
}

.fill {
    flex: 1;
    display: flex;
    overflow: auto;
}

.active {
    align-self: flex-end;
    padding-bottom: 13px;
}