.header {
    padding: 0;
}

.tab {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: white;
    color: black;
    &:hover {
        cursor: pointer;
    }
}

.active {
    align-self: flex-end;
    padding-bottom: 13px;
}