<div class="north header">
  <div class="title">
    The Assistant to the Phonology Assistant (aka Steve Parker's Baby)
  </div>
</div>
<div class="center-section">
  <div class="west data-view">
    <div *ngFor="let input of data" class="row">
      <span>{{input.readable}}</span>
      <button class="select" (click)="parse(input)">Explore</button>
    </div>
  </div>
  <div class="center edit-view">
    <div *ngIf="stage === 1" class="word-exploded">
      <character *ngFor="let c of parsedWord" [parsed]="c" (choice)="refresh()"></character>
    </div>
    <button *ngIf="stage > 0" [disabled]="stage !== 1" (click)="extract()">{{currentWord}}</button>
  </div>
</div>
<div *ngIf="enterData" class="entry-view">
  <div class="window border">
    <div class="header north">
      <div class="title">
        Enter Data
      </div>
    </div>
    <div class="body center">
      <div class="enter manually">
        <input *ngFor="let input of inputs" type="text" [value]="input" autofocus (keyup.enter)="parse(input)" (paste)="onPaste($event)">
      </div>
      <div class="enter file">
        <input type="file" (change)="fileChange($event)" placeholder="Drop a file" accept=".xml,.fwdata">
      </div>
    </div>
    <div class="footer south">
      <button (click)="loadData()">Go</button>
    </div>
  </div>
</div>