@import '~sass/abstracts/mixins';

:host {
    height: 100%;
    @extend %border-layout;
}

.data-view {
    border-right: 1px solid #2B4970;
    & .center {
        padding: 20px;
    }
}
table {
    height: 100%;
}

.entry-view {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.window {
    background-color: white;
    height: 400px;
    width: 600px;
    .header {
        .title {
            font-size: 16px;
            font-weight: bold;
        }
    }
    .footer {
        justify-content: flex-end;
        // background-color: gray;
    }
    .body {
        display: flex;
    }
    .enter {
        padding: 10px;
        flex: 1;
        display: flex;
        &.manually {
            flex-direction: column;
            input {
                margin: 2px 0;
            }
            border-right: 1px solid black;
        }
    }
}

.phonemes {
    padding: 10px;
    border-bottom: 1px solid #2B4970;
}
.phoneme-list {
    padding: 5px 0;
}
.phoneme {
    padding: 1px 5px;
    margin: 0 2px;
    border: 1px solid black;
}
.environments {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5px;
    overflow: scroll;
}

.select {
    margin-left: 10px;
}

.word-exploded {
    display: flex;
    align-items: center;
}