<div class="north header">
  <div class="title">
    The Assistant to the Phonology Assistant (aka Steve Parker's Baby)
  </div>
</div>
<div class="center-section">
  <div class="west data-view border">
    <div class="north header">
      <div class="title">
        Data
      </div>
    </div>
    <div class="center">
      <table>
        <tr *ngFor="let input of data">
          <td>{{input.readable}}</td>
          <td><button class="select" (click)="parse(input)">Explore</button></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="center vbox">
    <div class="header">
      <div class="title">
        Analyze
      </div>
    </div>
    <tabpanel>
      <tab tabTitle="Ambiguous Segments">Testing</tab>
      <tab tabTitle="Suspicious Pairs"><explore-environments [consonants]="consonants" [vowels]="vowels"></explore-environments></tab>
    </tabpanel>
    <!-- <div class="phonemes"> -->
      <!-- <div class="phoneme-list">
        <span>
          Consonants:
        </span>
        <span *ngFor="let segment of consonants" class="phoneme" (click)="viewEnvironment(segment)">
          {{segment.readable}}
        </span>
      </div>
      <div class="phoneme-list">
        <span>
          Vowels:
        </span>
        <span *ngFor="let segment of vowels" class="phoneme" (click)="viewEnvironment(segment)">
          {{segment.readable}}
        </span>
      </div> -->
    <!-- </div>
    <div class="environments">
      <environment *ngFor="let segment of environments" [segment]="segment"></environment>
    </div> -->
    <!-- <div *ngIf="stage === 1" class="word-exploded">
      <character *ngFor="let c of parsedWord" [parsed]="c" (choice)="refresh()"></character>
    </div>
    <button *ngIf="stage > 0" [disabled]="stage !== 1" (click)="extract()">{{currentWord}}</button> -->
  </div>
</div>
<div *ngIf="enterData" class="entry-view">
  <div class="window border">
    <div class="header north">
      <div class="title">
        Enter Data
      </div>
    </div>
    <div class="body center">
      <div class="enter manually">
        <input *ngFor="let input of inputs" type="text" [value]="input" autofocus (keyup.enter)="parse(input)" (paste)="onPaste($event)">
      </div>
      <div class="enter file">
        <input type="file" (change)="fileChange($event)" placeholder="Drop a file" accept=".xml,.fwdata">
      </div>
    </div>
    <div class="footer south">
      <button (click)="loadData()">Go</button>
    </div>
  </div>
</div>