<div class="north header">
  <div class="title">
    The Assistant to the Phonology Assistant (aka Steve Parker's Baby)
  </div>
  <div class="fill"></div>
  <button (click)="checkChanges()">
    Check Changes
  </button>
</div>
<div *ngIf="loaded" class="center-section">
  <div class="west data-view border">
    <tabpanel>
      <tab tabTitle="L">
        <table>
          <tr *ngFor="let word of data">
            <td class="selectable" (click)="editingWord = word">{{word.readable}}</td>
          </tr>
        </table>
      </tab>
      <tab tabTitle="C">
        <table>
          <tr *ngFor="let phoneme of consonants">
            <td class="selectable phoneme" (click)="selectSegment(phoneme.segment)">{{phoneme.segment.readable}}</td>
            <td>{{phoneme.instances}}</td>
          </tr>
        </table>
      </tab>
      <tab tabTitle="V">
        <table>
          <tr *ngFor="let phoneme of vowels">
            <td class="selectable phoneme" (click)="selectSegment(phoneme.segment)">{{phoneme.segment.readable}}</td>
            <td>{{phoneme.instances}}</td>
          </tr>
        </table>
      </tab>
    </tabpanel>
  </div>
  <wizard>
    <wizard-tab tabTitle="Interpretation">
      <clean-data (refresh)="refreshSegments()"></clean-data>
    </wizard-tab>
    <wizard-tab tabTitle="Syllabify">
      <syllabification (refresh)="refreshSegments()"></syllabification>
    </wizard-tab>
    <wizard-tab tabTitle="Suspicious Pairs">
      <explore-environments (refresh)="refreshSegments()" [environments]="selectedSegments"></explore-environments>
    </wizard-tab>
    <wizard-tab tabTitle="Syllable Distribution">
      <syllable-distribution></syllable-distribution>
    </wizard-tab>
  </wizard>
</div>
<window *ngIf="!loaded">
<!-- <div *ngIf="!loaded" class="entry-view"> -->
  <div class="window border">
    <div class="header north">
      <div class="title">
        Enter Data
      </div>
    </div>
    <div class="body center">
      <div class="enter manually">
        <input *ngFor="let input of inputs" type="text" [value]="input" autofocus (keyup.enter)="parse(input)" (paste)="onPaste($event)">
      </div>
      <div class="enter file">
        <!-- <input type="file" (change)="fileChange($event)" placeholder="Drop a file" accept=".xml,.fwdata"> -->
        <div *ngFor="let project of projects" class="selectable project" (click)="selectedProject = project" (dblclick)="loadData()" [class.active]="project === selectedProject">
          {{project}}
        </div>
      </div>
    </div>
    <div class="footer south">
      <button (click)="loadData()">Go</button>
    </div>
  </div>
<!-- </div> -->
</window>
<window *ngIf="checkingWords">
  <div class="window check-words">
    <div class="header">
      <div class="title">
        Changed Words
      </div>
      <div class="fill"></div>
      <div class="selectable-lite fa fa-times-circle fa-lg" (click)="checkingWords = false"></div>
    </div>
    <div class="word-list">
      <div>
        <table>
          <tr *ngFor="let word of changedWords">
            <td>
              {{word.oldWord}}
            </td>
            <td>
              <span class="fa fa-long-arrow-right"></span>
            </td>
            <td>
              {{word.readable}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</window>
<window *ngIf="editingWord">
  <input type="text" #changedWord [value]="editingWord.readable">
  <button (click)="saveWord(changedWord.value)">
    Save
  </button>
  <button (click)="editingWord = null">
    Cancel
  </button>
</window>