.phonemes {
    padding: 10px;
    border-bottom: 1px solid #2B4970;
}
.phoneme-list {
    padding: 5px 0;
}
.phoneme {
    padding: 1px 5px;
    margin: 0 2px;
    border: 1px solid black;
    &:hover {
        cursor: pointer;
        background-color: #FFEDAA;
    }
}
.environments {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5px;
    overflow: scroll;
}