<!-- <div class="phonemes">
  <div class="phoneme-list">
    <span>
      Consonants:
    </span>
    <span *ngFor="let segment of consonants" class="phoneme" (click)="viewEnvironment(segment)">
      {{segment.readable}}
    </span>
  </div>
  <div class="phoneme-list">
    <span>
      Vowels:
    </span>
    <span *ngFor="let segment of vowels" class="phoneme" (click)="viewEnvironment(segment)">
      {{segment.readable}}
    </span>
  </div>
</div> -->
<div>
  <button [disabled]="!(selected.size > 1)">Establish Contrast</button>
  <button [disabled]="!(selected.size > 1)" (click)="writeRule()">Write Rule</button>
</div>
<div class="environments">
  <environment *ngFor="let segment of environments" #segmentEnvironment
    [segment]="segment"
    (click)="toggleSelected(segmentEnvironment)"
    (removed)="remove($event)"
    (addPSS)="addPSS($event)"
    [class.selected]="selected.has(segmentEnvironment)"></environment>
</div>
<window *ngIf="buildingRule">
  <div class="window">
    <div class="header">
      <div class="title">
        Rule Builder
      </div>
      <div class="fill"></div>
      <div class="selectable-lite fa fa-times-circle fa-lg" (click)="closeRuleBuilder()"></div>
    </div>
    <div class="body hbox">
      <rule-builder #ruleBuilder [environments]="selected"></rule-builder>
      <div *ngIf="generatedRule" class="rule-display">
        <div class="rule">
          <div>
            /{{ruleBuilder.selectedEnvironment.segment.readable}}/ <span class="fa fa-long-arrow-right"></span>
          </div>
          <div class="rule-environments">
            <div *ngFor="let phoneticEnvironment of ruleBuilder.phoneticEnvironments" class="rule-environment">
              [{{phoneticEnvironment.environment.segment.readable}}] /
              <div class="phonetic-environment" [innerHTML]="phoneticEnvironment.environmentChoices.first.getString()"></div>
              ____
              <div class="phonetic-environment" [innerHTML]="phoneticEnvironment.environmentChoices.last.getString()"></div>
            </div>
            <div>
              [{{ruleBuilder.selectedEnvironment.segment.readable}}] / elsewhere
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="fill"></div>
      <button (click)="generateRule(ruleBuilder)">Generate</button>
    </div>
  </div>
</window>