.phonemes {
    padding: 10px;
    border-bottom: 1px solid #2B4970;
}
.phoneme-list {
    padding: 5px 0;
}
.phoneme {
    padding: 1px 5px;
    margin: 0 2px;
    border: 1px solid black;
    &:hover {
        cursor: pointer;
        background-color: #FFEDAA;
    }
}
.environments {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5px;
}
environment.selected {
    background-color: #FFEDAA;
}

.window {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}

rule-builder {
    flex: 1;
}

.rule-display {
    flex: 1;
    padding: 20px;
    border-left: 1px solid black;
}

.rule {
    display: flex;
    .fa {
        padding: 0 10px;
    }
}

.rule-environments {
    display: flex;
    flex-direction: column;
}

.rule-environment {
    display: flex;
    text-align: center;
}

.phonetic-environment {
    padding: 0 10px;
}

.hbox {
    display: flex;
}

.rule-changes-display {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
    border-left: 1px solid black;
}