<div class="underlying-form">
  <div *ngFor="let environment of environments" class="selectable segment" [class.selected]="selectedEnvironment === environment" (click)="selectedEnvironment = environment">
    /{{environment.segment.readable}}/
  </div>
</div>
<div class="fa fa-long-arrow-right fa-2x"></div>
<div class="environments">
  <phonetic-environment *ngFor="let environment of ruleEnvironments" class="environment" [environment]="environment">
    <!-- <span>
      [{{environment.segment.readable}}] / 
    </span>
    <environment-choice
      [environment]="environment.previousEnvironment"
      [wordBoundary]="environment.wordEnvironment.wordInitial"
      [syllableBoundary]="environment.wordEnvironment.syllableInitial"
    ></environment-choice>
    <span>
      ____
    </span>
    <environment-choice
      [environment]="environment.nextEnvironment"
      [wordBoundary]="environment.wordEnvironment.wordFinal"
      [syllableBoundary]="environment.wordEnvironment.syllableFinal"
    ></environment-choice> -->
  </phonetic-environment>
  <div *ngIf="selectedEnvironment" class="environment">
    <span>
      [{{selectedEnvironment.segment.readable}}] / 
    </span>
    <span>
      elsewhere
    </span>
  </div>
</div>